.App {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(137, 43, 226, 0.498),
    rgba(255, 0, 0, 0.635)
  );
}
